/* src/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: floralwhite;
  padding: 1rem;
  margin-bottom: 100px;
}

.navbar-logo {
  color: blueviolet;
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  
}

.navbar-links li {
  display: inline-flex;
  align-items: center;
}

.navbar-links a {
  color: blueviolet;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: #575757;
  border-radius: 4px;
}
form {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}/* src/BlogForm.css */


div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

textarea {
  height: 150px;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

